@use 'color' as col;

* {
    box-sizing: border-box;
}

body {
    background-color: col.$background__color_1;
    color: col.$font__color_1;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.btn {
  display: inline-block;
  margin-top: 12px;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.4s ease-in-out, background 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.95); 
    transition: transform 0.1s ease-out; 
  }
}
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin-bottom: 20px;

  .title {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fcdada;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

  .add-button {
    background: col.$button__green;
    color: col.$font__color_2;

    &:hover {
      background: col.$button__green--hover;
    }
  }
}

.total-value {
  font-size: 2rem; 
  font-weight: bold; 
  text-align: center; 
  color: col.$font__color_1; 
  margin: 20px 0; 

  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; 
}

.ticker-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  width: 90%;
  max-width: 1200px;
}

.remove-button {
  color: white;
  background-color: col.$button__danger;

  &:hover {
    background-color: col.$button__danger--hover;
  }
}
