$background__color_1: #04472e;
$background__color_2: #90b9e4;
$background__color_2--hover:#0056b3;
$font__color_1:  #e7d4d1;
$font__color_2: white;
$font__color_3: rgb(19, 17, 17);
$button__danger: #ff4d4d;
$button__danger--hover:  #cc0000;
$button__green: #4CAF50;
$button__green--hover:#45a049;
$button--disable:#84dcf1;


